alembic==1.7.5
attrs==21.4.0
certifi==2020.6.20
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
coverage==6.2
Flask
Flask-Bcrypt
Flask-JWT-Extended
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.8.2
importlib-resources==5.2.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.2
keyboard==0.13.5
Mako==1.1.4
MarkupSafe==2.0.1
more-itertools==8.12.0
packaging==21.3
pip==21.2.4
pluggy==0.13.1
psycopg2-binary==2.9.3
py==1.10.0
pycparser==2.21
PyJWT==1.7.1
pyparsing==3.0.4
pytest==6.2.4
pytest-cov==3.0.0
python-dateutil==2.8.2
requests==2.27.1
setuptools==58.0.4
six==1.16.0
SQLAlchemy==1.4.27
toml==0.10.2
tomli==2.0.0
urllib3==1.26.8
Werkzeug==2.0.2
wheel==0.37.1
zipp==3.7.0
